* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-font: 3cqw;
  --para-font: 1cqw;
  --header-clr: #131313;
  --para-clr: #727272;
  --section-padding: 3.2cqw 15cqw;
  --section-padding-2: 3.2cqw 18cqw;
}
body {
  font-family: "Work Sans", sans-serif;
}

header {
  background: #ff900e1a;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: var(--section-padding);
}
nav > h3 {
  color: #131313;
  text-align: center;
  font-family: Work Sans;
  font-size: var(--header-font);
  font-weight: 700;
}
nav > ul {
  display: flex;
  list-style: none;
}
nav ul li > a {
  text-decoration: none;
  margin-left: 2cqw;
  color: #424242;
  text-align: center;
  font-family: Work Sans;
  font-size: 1.5cqw;
  font-weight: 500;
  line-height: 1.8cqw;
}

/* banner section */
.banner-content {
  max-width: 50cqw;
  text-align: center;
  margin: 0 auto;
}
.banner-heading {
  font-size: 4cqw;
  margin-bottom: 1cqw;
}
p {
  color: var(--para-clr);
  text-align: center;
  font-family: Work Sans;
  font-size: var(--para-font);
  font-weight: 400;
  margin-bottom: 1cqw;
}
.btn {
  border-radius: 0.5rem;
  background: #ff900e;
  padding: 1cqw 2cqw;
  border: none;
  color: #fff;
  font-size: 1.2cqw;
  cursor: pointer;
  margin-bottom: 1cqw;
}

.banner-section img {
  width: 100%;
  padding: var(--section-padding);
}

/* teams view */
.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--section-padding-2);
  /* max-width: 70cqw; */
  /* margin: 0 auto; */
  gap: 5cqw;
  text-align: center;
}
.team-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25cqw;
  flex: 1;
}
.team-content {
  flex: 1;
}
.team-imgs img {
  width: 100%;
}
.team-content h2 {
  font-size: var(--header-font);
  font-weight: 700;
}
.span-1 {
  color: var(--para-clr);
  font-weight: 400;
}
.span-2 {
  color: #ff900e;
  font-weight: 700;
}

/* feature section */

.feature-container {
  display: flex;
  margin: var(--section-padding);
  gap: 3cqw;
  align-items: center;
}
.feature-card {
  border-radius: 0.5cqw;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 1.5cqw;
}

.feature-content h2 {
  font-size: var(--header-font);
  color: var(--header-clr);
  border-left: #ff900e solid 5px;
  padding-left: 10px;
}
.feature-content {
  flex: 1;
}
.feature-content div {
  margin-bottom: 1cqw;
}
.feature-content p,
.feature-content div p {
  text-align: left;
}
.feature-img {
  flex: 1;
  position: relative;
}
.feature-img img {
  width: 100%;
}
.feature-bedge {
  position: absolute;
  background-color: #ff900e;
  border-radius: 8px;
  padding: 1.5cqw;
  color: #fff;
  font-size: 2cqw;
  bottom: -4cqw;
  left: -4cqw;
}

/*fact section */

.fact-content {
  max-width: 65cqw;
  padding: var(--section-padding);
}
.fact-content h2 {
  font-size: var(--header-font);
  margin-bottom: 1cqw;
}
.fact-content p {
  text-align: left;
}
.fact-card-container {
  display: flex;
  margin: var(--section-padding-2);
  justify-content: space-between;
  gap: 2cqw;
}
.fact-card {
  max-height: 10cqw;
  max-width: 10cqw;
  display: grid;
  place-items: center;
  border: #ff900e 2px solid;
  border-radius: 8px;
  padding: 1cqw;
  gap: 1cqw;
}
.fact-card{
  width: 100%;
}
/* sponsors */

.sponsor-heading {
  text-align: center;
  font-size: var(--header-font);
  margin-bottom: 1cqw;
}

.sponsor-cards > .fact-card {
  border: none;
}
.sponsor-cards-img{
  width: 15cqw;
}
/* footer */

footer {
  border-radius: 8px;
  background: #fff4e7;
  margin: var(--section-padding);
  display: grid;
  place-items: center;
  height: 100%;
  padding: 3cqw;
}
footer p{
  margin-bottom: 0;
}
/* Responsive Media quarries */

/* mobile devices */
@media screen and (max-width: 576px) {
  :root {
    --para-font: 2cqw;
    --heading-font: 3.5cqw;
    --section-padding: 3cqw 8cqw;
  }
  nav,
  .team-container,
  .feature-container,
  .fact-card-container{
    flex-direction: column;
    align-items: center;
  }
  .team-imgs {
    grid-template-columns: 1fr;
  }
}
.fact-card{
  max-width: 30cqw;
  max-height: 30cqw;
}
/* medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  :root {
    --para-font: 1.4cqw;
    --section-padding: 3cqw 8cqw;
  }
  nav,
  .team-container {
    flex-direction: column;
    align-items: center;
  }
}
